* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Winky Rough', Helvetica, Arial, sans-serif;
}


/* LOGIN */
.login_form {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_title {
  background: rgb(53, 109, 172);
  position: absolute;
  left: 0;
  right: 0;
  padding: 20px;
  color: white;
}

/* NAVBAR */
.navbar {
  padding: 15px 37px;
  margin-bottom: 10px;
  height: auto;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  align-items: center;
  position: relative;
  z-index: 999;
}

.navbar-light {
  background-color: #4f52b2d0;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.navbar-dark {
  background-color: #0a1628c8;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
}

.btn_logout {
  background: white;
  border: none;
  border-radius: 5px;
  padding: 5px 5px;
  color: #4f52b2;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 700;
}

.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.barlow-extralight {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.barlow-light {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-medium {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.barlow-semibold {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.barlow-thin-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.barlow-extralight-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.barlow-light-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.barlow-regular-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.barlow-medium-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.barlow-semibold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.barlow-bold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.barlow-extrabold-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.barlow-black-italic {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: italic;
}


.winky-rough {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.btn-add-client-mobile {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 80%;
  left: 78%;
  z-index: 999;
}